body{
    font-family: 'Archivo Narrow', sans-serif;
}
.name-color{
    color:brown;
}
h1{
    font-size:50px;
}
.half-width{
    padding:10px 20px;
    margin:10px 20px;
    width:50%;
}
.top-img{
    width:80%;
    border-radius:50%;
}
section{
    display:flex;
    background-image: url(fdreambig.png);
    background-size: cover;
}
.top-button{
    color:whitesmoke;
    text-decoration: none;
    background-image: linear-gradient(crimson,brown);
    padding:7px 18px;
    border-radius: 8px;
    opacity:0.7;
    
}
.top-button:hover{
    opacity:1;
    
}